# Pre-commit hooks for code quality
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
        exclude: ^parsers/
      # Run the formatter.
      - id: ruff-format
        exclude: ^parsers/
